@import 'main.scss';

.modal-button {
  margin: {
    left: 0.25em;
    right: 0.25em;
    top: 0;
  }
}
.sticky {
  background-color: $gray;
  border-radius: 1em;
  bottom: 0;
  margin: {
    left: auto;
    right: auto;
    top: 0.7em;
  }
  padding: 0.5em;
  position: sticky;
  width: fit-content;
}