@import "main";

h1 {
  font-size: 4em;
  margin: 0;
  padding: {
    left: 0;
    right: 0;
    top: 0.25em;
    bottom: 0.25em;
  }
  text-align: center;
}
.header {
  background-color: $mid;
  border: 3px solid $fontcolor;
  border-radius: 2em;
  width: 20%;
}