input {
  border-radius: 1em;
  box-sizing: border-box;
  display: inline-grid;
  font-size: 0.7em;
  margin-bottom: 0.5em;
  width: 7em;
}
h4 {
  margin: {
    top: 0;
    bottom: 0.2em;
  }
}
.input {
  padding: 0.5em;
}