@mixin mainBorder {
  border: 0.2em solid $fontcolor;
}

$fontcolor: #DA0037;
$darkest: #171717;
$lightest: #EDEDED;
$mid: #444444;
$gray: #b3b3b3;

body {
  background-color: $darkest;
  box-sizing: border-box;
  color: $lightest;
  margin-top: 0;
}
* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button:hover {
  background-color: #808080;
}