@import "main";

@mixin border {
  border: 0.2em solid $gray;
  border-radius: 1em;
}

.scale {
  background-color: #303030;
  @include border;
  box-sizing: border-box;
  height: max-content;
  margin: 0.5em;
  padding: 1.4em 0.5em;
}
h2 {
  font-size: 2em;
  margin: 0.001em;
}

.scale > p {
  color: #fff;
}
.scale > button > svg {
  height: 2.1em;
  width: 2.1em;
}
.scale > button {
  margin-top: 0.5em;
}