@import "main";

@mixin border {
  border: 0.2em solid $gray;
  border-radius: 1em;
}

.scale {
  background-color: #303030;
  @include border;
  box-sizing: border-box;
  height: max-content;
  margin: 0.5em;
  padding: 1em;
}
h2 {
  font-size: 2em;
  margin: 0.001em;
}

.scale > p {
  color: #fff;
}