@import 'main';

.modal-content {
  background-color: $lightest;
  border-radius: 1.5em;
  color: black;
  font-size: 2em;
  margin: 4em auto;
  padding: 1.5em;
  width: 40em;
}
.settings-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
