@import "main";

.scales {
  @include mainBorder;
  background-color: $mid;
  border-radius: 1em;
  box-sizing: border-box;
  float: left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 82.5vh;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}