.bookmark-option {
  background-color: #f2f2f2;
  color: #000;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 0.25em;
}
.bookmark-list {
  display: grid;
  font-size: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
}
.bookmark-list h3 {
  margin: 0;
}
.bookmark-list button {
  margin: {
    left: 0.25em;
    right: 0.25em;
  }
}
.bookmark-option p {
  margin: 0;
}
.modal-content h4:nth-child(2) {
  margin: {
    bottom: 0;
    top: 0.5em;
  }
}
.modal-content h4 {
  margin-bottom: 0;
}
